
* {
    margin: auto;
    padding: 0;
    max-width: 720px;
    box-sizing: border-box;
}


/* HEADER AND PROJECT NAME */

div.page_header{
	background: #D9D9D9;
	letter-spacing: 2px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top:0px;
	width: 100%;
}

p.TSTU{
	text-align: center;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-indent: 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 10px;
}

p.LAB{
	text-align: center;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-indent: 0px;
	text-transform: uppercase;
	padding-bottom: 10px;
}

p.name{
	padding-top: 8px;
	padding-bottom: 9px;
	text-align: center;
	font-size: calc(1.5rem + 0.5vw);
	margin-top: 0px;
	margin-bottom: 0px;
	text-indent: 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-top: solid;
	border-width: 0.5px;
}

nav.menu {
    overflow: auto;
    text-align: center;
}

nav.menu a {
    display: inline-block;
	font-size: calc(1.0rem + 0.3vw);
	font-weight: 300;
	letter-spacing: 2px;
	margin-top: 0px;
	margin-left: 0;
	margin-right:0;
	padding: 5px 5px 5px 5px;
	text-transform: uppercase;
	text-decoration: 0;
	text-align: center;
	color: #494949;
}

nav.menu a:hover {
    color: #010101;
    text-decoration: underline;
}


/* HEADERS */

h1 {
    font-size: calc(2rem + 0.5vw);
}

h2 {
    font-size: calc(1.7rem + 0.5vw);
}

h2.login{
    display: inline-block;
	width: 100%;
	text-align: center;
	background: #e3e3e3;
}

h3 {
    font-size: calc(1.4rem + 0.5vw);
}

#id_verbose_name {
    overflow: auto;
    text-align: center;
}


/* FIGURES */

div.fig{
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: auto;
}

figcaption {
    width: auto;
    margin: 12px;
	text-align:center;
	font-size: calc(1.0rem + 0.42vw);
}

/* TABLES */

table {
  table-layout: fixed;
  width: 100%;
  border: none;
  font-size: calc(1.0rem + 0.32vw);
}

table.reinf td {
    border: none;
    padding-left: 0px;
	padding-right: 0px;
}

table.sec_pos td {
  	border-style:solid;
	border-width:1.0px;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-color: #7a6601;
	overflow: hidden;
}

td{
	border-style:solid;
	border-width: 1.0px;
	padding: 2px;
	padding-left: 8px;
	padding-right: 8px;
	border-color: #7a6601;
	overflow: auto;
}

td div{
    align:center;
}

th{
	border-style:solid;
	border-width:1.0px;
	border-color: #7a6601;
	overflow: auto;
	text-align: center;
}

th.title{
	width: 50%;
}

th.value{
	width: 25%;
}

th.status{
	width: 25%;
}

label {
    margin-bottom: 0px;
    font-weight: 320;
}

div.girder_surface_name {
    display: block;
    text-align: center;
    letter-spacing: 8px;
}


/* INPUT FIELDS */

input{
	border-style:none;
	width: 100%;
	height: 100%;
}


/* ERROR LISTS */

ul.errorlist {
    margin-left: 15px;
}


/* INPUT BUTTONS */

input.button{
	border-style:none;
	width: 100%;
	height: 42px;
	margin-top: 5px;
}

p.instead_button {
    display: inline-block;
	width: 100%;
	line-height: 42px;
	text-align: center;
	vertical-align: middle;
	background: #e3e3e3;
	margin-top: 5px;
}


/* FOOTER */

div.page_footer {
    background: #D9D9D9;
	margin-top: 24px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 5px 0px 5px 0px;
}

div.page_footer p{
 	display: block;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-bottom: 3px;
	margin-bottom: 0px;
	font-size: 12px;
	text-indent: 0px;
}