{% load static %}

{% if form_name == "InitialReinforcement" %}
<figure class="fig_center">
    <div class="fig"><img style="max-width: 100%; height: auto;"
                          src="{% static 'autograder/images/initial_reinforcement.png' %}"
                          alt="Схема расстановки предварительной арматуры в ригеле">
    </div>
    <figcaption>Рис. Схема расстановки предварительной арматуры в ригеле</figcaption>
</figure>
{% endif %}

{% if form_name == "CalculatedReinforcement" %}
<figure class="fig_center">
    <div class="fig"><img style="max-width: 100%; height: auto;"
                          src="{% static 'autograder/images/calculated_reinforcement.png' %}"
                          alt="Схема расстановки подсчитанной арматуры в ригеле">
    </div>
    <figcaption>Рис. Схема расстановки подсчитанной арматуры в ригеле</figcaption>
</figure>
{% endif %}


<form method="POST">
    {% csrf_token %}

    <table id={{form_name}} class="reinf">
        <tr class="ini_header">
            <th>
                <div>Сечение 2-2</div>
            </th>
            <th>
                <div>Сечение 1-1</div>
            </th>
            <th>
                <div>Сечение 3-3</div>
            </th>

        </tr>
        <tr>
            <td colspan="3">
                <div class="girder_surface_name"> Верхняя грань </div>
            </td>
        </tr>

        <tr class="ini_top">
            <td>
                <table class="sec_pos">

                    {% for field in form%}
                        {% if "section_2_top" in field.name %}
                        <tr>
                            <td> <label for="id_{{field.name}}"> {{field.label}} </label>  </td>
                            <td> <div>{{field}}</div> </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="sec_pos">

                    {% for field in form%}
                        {% if "section_1_top" in field.name %}
                        <tr>
                            <td> <label for="id_{{field.name}}"> {{field.label}} </label>  </td>
                            <td> <div>{{field}}</div> </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="sec_pos">

                    {% for field in form%}
                        {% if "section_3_top" in field.name %}
                        <tr>
                            <td> <label for="id_{{field.name}}"> {{field.label}} </label>  </td>
                            <td> <div>{{field}}</div> </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="3">
                <div class="girder_surface_name"> Нижняя грань </div>
            </td>
        </tr>

        <tr class="ini_bot">
            <td>
                <table class="sec_pos">

                    {% for field in form%}
                        {% if "section_2_bot" in field.name %}
                        <tr>
                            <td> <label for="id_{{field.name}}"> {{field.label}} </label>  </td>
                            <td> <div>{{field}}</div> </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="sec_pos">

                    {% for field in form%}
                        {% if "section_1_bot" in field.name %}
                        <tr>
                            <td> <label for="id_{{field.name}}"> {{field.label}} </label>  </td>
                            <td> <div>{{field}}</div> </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
            <td>
                <table class="sec_pos">

                    {% for field in form%}
                        {% if "section_3_bot" in field.name %}
                        <tr>
                            <td> <label for="id_{{field.name}}"> {{field.label}} </label>  </td>
                            <td> <div>{{field}}</div> </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>

    {% if form.non_field_errors or form.errors %}
        <p> Для успешной отправки данных исправьте следующие ошибки: </p>
        {{ form.non_field_errors }}
        {% for field in form %}
            {{ field.errors }}
        {% endfor %}
    {% endif %}

    {% if owner is True %}
        <input class="button" type="submit" value="Submit" name={{form_name}}>
    {% else %}
        <p class="instead_button"> You cannot change data in this form </p>
    {% endif %}

</form>