{% extends "base_bootstrap.html" %}
{% load template_filters %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block welcome %}
    {% include 'header.html' %}
    <div class="page_header">
        <p class="name">Автоматизированная проверка ригеля</p>
    </div>
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h1> Добро пожаловать, {{ student_name }}!</h1>
<h3> Краткие указания</h3>
<p> Для проверки курсового проекта заполните предложенные ниже формы. После заполнения каждой следующей формы
    не забывайте нажать кнопку "Submit" для отправки данных. Если Вы заполните несколько форм и нажмёте кнопку "Submit"
    в одной из них, то данные в других заполненных формах не сохранятся!
</p>
<p> Обратите внимание, что некоторые формы могут быть отправлены только после устранения ошибок в данных
    (описания ошибок появляются под формой при попытке отправить ошибочные данные).
</p>
</p>
<p> Некоторые поля в формах заполнять не нужно (в них нельзя поместить курсор) - значения в них будут вычислены
    автоматически на основании данных в других полях.
</p>


{% for form_name, form in forms.items %}

    <h2> {{ form.verbose_name }} </h2>

    {% if form_name == "GirderGeometry" or form_name == "MomentsForces" %}
        {% include 'autograder/two_columns_forms.html' %}
    {% endif %}

    {% if form_name == "InitialReinforcement" or form_name == "CalculatedReinforcement" %}
        {% include 'autograder/reinforcement_placement.html' %}
    {% endif %}

    {% if form_name != "GirderGeometry" and form_name != "MomentsForces" and form_name != "InitialReinforcement" and form_name != "CalculatedReinforcement"%}

    <form method="POST">
        {% csrf_token %}

        <table id={{form_name}}>
                <tr>
                    <th class="title"> Название параметра </th>
                    <th class="value"> Значение </th>
                    <th class="status"> Статус </th>
                </tr>

            {% for field in form %}
                {% if field.label != "header" %}
                    <tr>
                        <td> <label for="id_{{field.name}}"> {{field.label}} </label> </td>
                        <td> <div>{{field}}</div> </td>
                        <td> <div> {% with key=field.name|cut:'stud_' %} {{ stat|get_item:key }} {% endwith %}</div> </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% if form.non_field_errors or form.errors %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
        {% endif %}

        {% if owner is True %}
            <input class="button" type="submit" value="Submit" name={{form_name}}>
        {% else %}
            <p class="instead_button"> You cannot change data in this form </p>
        {% endif %}

    </form>
    {% endif %}

{% endfor %}

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}



