{% extends "base_bootstrap.html" %}
{% load template_filters %}

{% block content %}
<h1> Concrete </h1>

<p> Owner = {{ owner }} </p>

<form method="POST">
    {% csrf_token %}

    <table>
        {% for field in form %}
            <tr>
                <td> <label for="id_{{field.name}}"> {{field.label}} </label> </td>
                <td> <div>{{field}}</div> </td>
                <td> <div>
                    {% with key=field.name|cut:'stud_' %}
                        {{ stat|get_item:key }}
                    {% endwith %}</div> </td>
            </tr>
        {% endfor %}
    </table>

    {% if owner is True %}
        <input type="submit" value="Submit">
    {% else %}
        <p> You cannot change data in this form </p>
    {% endif %}

</form>

<h1> Reinforcement </h1>

{% endblock %}

