{% extends "base_bootstrap.html" %}
{% load template_filters %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'autograder/style.css' %}">
{% endblock %}

{% block content %}

<h1> Добро пожаловать, {{ student_name }}!</h1>


{% for form_name, form in forms.items %}
    <h2> {{ forms_names|get_item:form_name }} </h2>
    <h2> {{ form.verbose_name }} </h2>

    {% if form_name == "GirderGeometry" %}
        {% include 'autograder/girder_geometry.html' %}
    {% endif %}

    {% if form_name == "MomentsForces" %}
        {% include 'autograder/moments_forces.html' %}
    {% endif %}

    {% if form_name == "Initial_reinforcement" %}
        {% include 'autograder/initial_reinforcement.html' %}
    {% endif %}

    {% if form_name != "GirderGeometry" and form_name != "MomentsForces" and form_name != "Initial_reinforcement" %}

    <form method="POST">
        {% csrf_token %}

        <table id={{form_name}}>
                <tr>
                    <th class="title"> Название параметра </th>
                    <th class="value"> Значение </th>
                    <th class="status"> Статус </th>
                </tr>
            {% for field in form %}
                <tr>
                    <td> <label for="id_{{field.name}}"> {{field.label}} </label> </td>
                    <td> <div>{{field}}</div> </td>
                    <td> <div> {% with key=field.name|cut:'stud_' %} {{ stat|get_item:key }} {% endwith %}</div> </td>
                </tr>
            {% endfor %}
        </table>

        {% if owner is True %}
            <input class="button" type="submit" value="Submit" name={{form_name}}>
        {% else %}
            <p> You cannot change data in this form </p>
        {% endif %}

    </form>
    {% endif %}

{% endfor %}

{% endblock %}

