{% load static %}

{% if form_name == "GirderGeometry" %}
    <figure class="fig_center">
      <div class="fig"><img class="fig_section"
                            src="{% static 'autograder/images/girder_cross_section.png' %}"
                            alt="Поперечное сечение ригеля"></div>
      <figcaption>Рис. Размеры поперечного сечения ригеля</figcaption>
    </figure>
{% endif %}

<form method="POST">
        {% csrf_token %}

        <table id={{form_name}}>
                <tr>
                    <th class="title"> Название параметра </th>
                    <th class="value"> Значение </th>
                </tr>
            {% for field in form %}
                {% if field.label != "header" %}
                    <tr>
                        <td> <label for="id_{{field.name}}"> {{field.label}} </label>  </td>
                        <td> <div>{{field}}</div> </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        {% if form.non_field_errors or form.errors %}
            <p> Для успешной отправки данных исправьте следующие ошибки: </p>
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
        {% endif %}

        {% if owner is True %}
            <input class="button" type="submit" value="Submit" name={{form_name}}>
        {% else %}
            <p class="instead_button"> You cannot change data in this form </p>
        {% endif %}
</form>